:root{
    --main-color-1:#30B5B2;
    --main-color-2:#333333;
    --main-color-3: #e8598f;
    --main-color1-hover:#25928c;
    --title-2-afer:#e5e5e5;
    --color-3:azure;
}
.content .main{
    width: 100%;
}
.main .menu-left{
    width: 15%;
    background: var(--main-color-1);
    
}
.main .main-right{
    width: 85%;
}

.main .menu-left ul li{
    list-style-type: none;
}
.main .menu-left ul li a{
    text-decoration: none;
    color: var(--color-3);
}
.main .menu-left ul li a:hover{
    color: var(--color-3);
    text-decoration: underline;
}
