:root{
    --main-color-1:#30B5B2;
    --main-color-2:#333333;
    --main-color-3: #e8598f;
    --main-color1-hover:#25928c;
    --title-2-afer:#e5e5e5;
    --color-3:azure;
}
.content .main{
    width: 100%;
}
.main .menu-left{
    width: 15%;
    background: var(--main-color-1);
    
}
.main .main-right{
    width: 85%;
}

.main .menu-left ul li{
    list-style-type: none;
}
.main .menu-left ul li a{
    text-decoration: none;
    color: var(--color-3);
}
.main .menu-left ul li a:hover{
    color: var(--color-3);
    text-decoration: underline;
}
.main .main-right .form  input[type="text"],
.main-right .form  select{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    outline: none;
    width: 400px;
    height: 40px;
    padding: 10px;
    margin: 0 20px 20px 0;
    
}
.form .img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    outline: none;
    width: 400px;
    height: 40px;
    padding: 5px;
    margin: 0 20px 20px 0;
}
.form #dg{
    margin-left: -20px;
}
.main-right .form textarea{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    outline: none;
    padding: 15px;
    margin: 0 20px 20px 0;
}
.main-right .form .send{
    width: 400px;
    height: 40px;
    background: var(--main-color-1);
    color: var(--color-3);
    font-weight: bold;
    padding: 5px;
    border: none;
}
.main-right .form-info table tr td input[type=email],
.main-right .form-info table tr td .hoten{
    width: 150px;
    padding: 5px;
}
.main-right .form-info table tr td .if{
    width: 100px;
    padding: 5px;
}
.main-right .form-info table tr td .sd{
    width: 100px;
    padding: 10px;
    background: var(--main-color-1);
    padding: 3px;
    border: none;
    color: var(--color-3);
}
.main-right .form-info table tr td .sd:hover{
    background: var(--main-color1-hover);
    
}
